<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Auction</title>
    {% load static %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js"></script>
    <link rel="stylesheet" href="{% static 'css/auction.css' %}">
</head>
<body>
<h1>Auction Results</h1>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/auction.js' %}"></script>
</body>
</html>