<!DOCTYPE html>
<html lang="en" >
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      body {
          padding-top: 10px;
          background-color: #ffffff00;
      }

  </style>
</head>
<body>

<div class="tab-content">
    <div class="container" id="home" class="tab-pane fade">
        <h3>homes</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><button id="btn-add-tab" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addHome">&#43 &#127968</button></p>
                    <!-- Modal add home -->
                    <div class="modal fade bd-example-modal-xl" id="addHome" role="dialog" >
                        <div class="modal-dialog modal-xl">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">new home</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group row">
                                            <label class="col-md-4 control-label" >address</label>
                                                <div class="input-group">
                                                    <input id="address" name="type " SIZE="40" type="text" placeholder="address" class="form-control input-md">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="newHome" type="button" class="btn btn-default" data-dismiss="modal">add</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end Modal add home -->
                    <ul id="tab-list" class="nav nav-tabs" role="tablist">
                        <!--<li ><a href="#home1" role="tab" data-toggle="tab"><span>&#127968 1 </span><span class="glyphicon glyphicon-pencil text-muted edit"></span></a></li>-->
                    </ul>
                    <!-- section -->
                    <div id="tab-content" class="tab-content">
                        <!--<p><button id="btn-add-section" type="button" class="btn btn-primary pull-right">&#43 </button></p>-->
                        <!--<div class="tab-pane fade " id="home1">-->
                            <!--<h4>sections of home 1</h4>-->
                            <!--<div class="grid-container">-->
                                <!--&lt;!&ndash;<img src="../statics/images/im.png" />&ndash;&gt;-->
                                <!--<img src="../statics/images/im.png" />-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script  src="{% static 'js/script.js'%}"></script>

</body>
</html>
