<!DOCTYPE html>
<html lang="en" >
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>information</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="../statics/css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
  main {
    background-image : url({% static 'images/background.jpg' %});

      background-repeat : no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }
</style>

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img style="background-color:white;" src="{% static 'images/avatar.png' %}" />

        <h2 style="color:white;">username</h2>
    </header>
    <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <li tabindex="0" class="icon-dashboard" class="nav-item" class="active"><a class="nav-link active" id="v-pills-dashboard-tab" data-toggle="tab" href="#v-pills-dashboard" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</a></li>
        <li tabindex="0" class="icon-customers" class="nav-item" class="active"><a class="nav-link" id="v-pills-profile-tab" data-toggle="tab" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a></li>
        <li tabindex="0" class="icon-home" class="nav-item" class="active"><a class="nav-link" id="v-pills-home-tab" data-toggle="tab" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Home</a></li>
    </ul>
</nav>

<main>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
           <iframe overflow="hidden"  style="position: relative; width: 90%; border: 0; height: 90vh"  src="/home"  ></iframe>

        </div>

        <div class="tab-pane fade active in" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
            <iframe  style="position: relative; width: 100%; border: 0; height: 100vh"  src="/dashboard"  ></iframe>
        </div>
        <div class="tab-pane fade active in" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <iframe style="position: relative; width: 100%; border: 0; height: 100vh"  src="/profile"  ></iframe>
        </div>


    </div>
</main>
<!-- partial -->
<script  src={% static 'js/script.js' %}></script>


</body>
</html>
